
@{
    ViewBag.Title = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-box">
    <div class="login-logo">
        <a href=""><b>Chandrim</b>ERP</a>
    </div>
    <div class="login-box-body">
        <div class="alert alert-success">
            <p>
                <strong>Success!</strong> <br> Your account has been activated successfully.<br> Please click here to @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>

