<div class="panel-body">
    <input type="text" id="tree_q" value="" class="input" style="margin:0em auto 1em auto; display:block; padding:4px; border-radius:4px; border:1px solid silver;">
    <div id="treebody">
    </div>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            accountsChartTree();
        });
    </script>

}